body {
  background: linear-gradient(to right, #4E2394, #DBC9F5); 
  margin: 0; 
  padding: 0; 
  height: 100vh; 
}


.section1 {
  background-color: rgba(78, 35, 148, 0.5); 
  padding: 20px;
  margin: 20px;
}


.section2 {
  background-color: rgba(219, 201, 245, 0.5); 
  padding: 20px;
  margin: 20px;
}